<app-page-not-found [visible]="!food" notFoundMessage="Food Not Found" resetLinkText="Back To HomePage"
  class="text-center fw-semibold"></app-page-not-found>
<div *ngIf="food" class="container" style="max-width:55vw;">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-7">
          <img [src]="food.imageUrl" [alt]="food.name" class="w-100 rounded-4">
        </div>
        <div class="col-4 lh-lg">
          <div class="mt-2 text-uppercase fw-semibold fs-4">
            {{food.name}}
          </div>
          <span class="favorite {{food.favorite?'':'not'}}">❤</span>
          <div class="fw-semibold d-flex justify-content-between align-items-start text-capitalize">
            <span *ngFor="let origin of food.origins">{{origin}}</span>
          </div>
          <div class="tags fw-semibold d-flex justify-content-between align-items-start">
            <a *ngFor="let tag of food.tags" routerLink="/tag/{{tag}}">{{tag}}</a>
          </div>
          <div class="cook-time">
            <span>🕒</span>
            Time to cook about <strong>{{food.cookTime}}</strong> minutes.
          </div>
          <div class="price mt-5">Price:&nbsp;<span>{{food.price|currency}}</span></div>
          <button class="btn btn-warning mt-3 w-100 m-4 rounded-5" (click)="addToCart()">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
