<div class="container" style="max-width: 100vw;">
  <app-search></app-search>
  <app-tags></app-tags>
  <app-page-not-found [visible]="!foods || !foods.length" resetLinkText="Reset Search"
    class="text-center fw-semibold"></app-page-not-found>
  <div class="row">
    <div class="col-3" *ngFor="let food of foods">
      <div class="card bg-transparent border-0">
        <div class="card-body">
          <a routerLink="/food/{{food.id}}" class="d-flex flex-column overflow-hidden">
            <img [src]="food.imageUrl" [alt]="food.name" class="rounded-4">
            <div class="content">
              <div class="text-center mt-2 text-uppercase fw-semibold">
                {{food.name}}
              </div>
              <span class="favorite {{food.favorite?'':'not'}}">❤</span>
              <div class="row">
                <div class="col-8">
                  <div class="origins fw-semibold d-flex justify-content-between align-items-start text-capitalize">
                    <span *ngFor="let origin of food.origins">{{origin}}</span>
                  </div>
                </div>
              </div>
              <div class="cook-time">
                <span>🕒</span>
                {{food.cookTime}}
              </div>
              <div class="price"><span>{{food.price|currency}}</span></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
